extends layout

block head
  script(src='https://www.google.com/recaptcha/api.js' async='' defer='')

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Contact Information

  .contact-info
    .pb-2
      h5 Phone
      p 210-379-7773
    
    .pb-2
      h5 Mailing Address
      p PO Box 780487 San Antonio, TX 78278
    
    .pb-2
      h5 Email Address
      p 
        a(href='mailto:tblc@txblc.onmicrosoft.com') tblc@txblc.onmicrosoft.com

