extends layout

block content
  h1 Texas Bottom Line Consultants, LLC
  p.lead Helping Texas businesses reduce their tax liability with a proven track record of success.
  hr
  .row
    .col-md-6
      h2 Statement of Faith
      p At TBLC, we combine a philosophy of honesty, professionalism, and strict adherence to legal requirements. With a no-risk contingency model, our clients only pay when results are achieved, and our success rate of 97% speaks for itself—always delivering substantial savings.
      iframe(src='https://tblcwebsitestorage.blob.core.windows.net/pdfs/STATEMENT%20OF%20FAITH.pdf' width='100%' height='400px')
        | Your browser does not support viewing PDFs inline. 
        a(href='https://tblcwebsitestorage.blob.core.windows.net/pdfs/STATEMENT%20OF%20FAITH.pdf') Download the PDF here.

    .col-md-6
      h2 Texas Retailers Are Paying Double Tax
      p Many Texas retailers are unknowingly paying double in property taxes due to inaccurate appraisals of inventory. At TBLC, we help businesses navigate Texas Property Tax law and reclaim potentially tens of thousands of dollars in overpaid taxes.
      iframe(src='https://tblcwebsitestorage.blob.core.windows.net/pdfs/Article%2024%20TxPropTax.pdf' width='100%' height='400px')
        | Your browser does not support viewing PDFs inline. 
        a(href='https://tblcwebsitestorage.blob.core.windows.net/pdfs/Article%2024%20TxPropTax.pdf') Download the PDF here.

    .col-md-6
      h2 Insightful Data on Inventory Valuation
      p Through data analysis and valuation techniques, we show that less than half of a retailer's inventory accounts for 80% of gross margin. Our method delivers accurate market value assessments, ensuring you don’t overpay in taxes on unprofitable inventory.
      iframe(src='https://tblcwebsitestorage.blob.core.windows.net/pdfs/TBLC%20BarCharts%20to%2022.pdf' width='100%' height='400px')
        | Your browser does not support viewing PDFs inline. 
        a(href='https://tblcwebsitestorage.blob.core.windows.net/pdfs/TBLC%20BarCharts%20to%2022.pdf') Download the PDF here.

    .col-md-6
      h2 Legal Expertise in Ad Valorem Taxation
      p TBLC provides expert legal commentary on the complex world of ad valorem taxation in Texas. We advocate for businesses by ensuring that appraisal methods reflect true market value, as mandated by the Texas Constitution.
      iframe(src='https://tblcwebsitestorage.blob.core.windows.net/pdfs/Tim%20Johnson%20Comment.pdf' width='100%' height='400px')
        | Your browser does not support viewing PDFs inline. 
        a(href='https://tblcwebsitestorage.blob.core.windows.net/pdfs/Tim%20Johnson%20Comment.pdf') Download the PDF here.

