extends ../layout

block content
  h1 Client References - Texas Bottom Line Consultants, LLC
  
  hr

  p Dear Decision Maker,
  p
    | All Texas retailers are currently paying approximately double their legally required property tax on the inventory held at all their locations in Texas, including the distribution centers. This over-taxation is the norm because no County Appraisal District (CAD) has ever actually conducted a legal/proper appraisal of merchandise inventory. Our services have saved TBLC clients ~$26M in tax liability so far.
  p
    | At NO RISK and NO COST to the Client, we dramatically (97% success rate) reduce this insidious tax.
  p
    | These men and women have given permission to contact them for information about how TBLC services have helped their companies.
  
  hr
  
  .reference
    h2 Mr. James Pomasl
    p
      | Tax Manager, Conn's Appliances, Inc. (Conn's Home Plus)
    p
      | Contact: 936-207-1245
    p
      | Email: james.pomasl@conns.com
    p
      strong | Saved Conn's ~$9.8M in tax liability since 2018. Several pending cases could add up to another ~$500K.
    
  hr
  
  .reference
    h2 Mr. Jeff Peterson
    p
      | Stacy’s Family Enterprises
    p
      | Contact: 817-424-8800 ext. 2232
    p
      | Email: jpeterson@stacyfurniture.com
    p
      strong | Saved ~$894K in tax liability since 2010.
    
  hr
  
  .reference
    h2 Mr. Jason Cassell
    p
      | Controller, Dufresne Spencer Group (Ashley Furniture HomeStores)
    p
      | Contact: 901-509-8860
    p
      | Email: jcassell@dufresne.ca
    p
      strong | Saved ~$4.76M in tax liability since 2011.
    
  hr
  
  .reference
    h2 Ms. Terri DeMasters
    p
      | Controller, DKO
    p
      | Contact: 512-844-5333
    p
      | Email: terri@myfurnituremarket.com
    p
      strong | Saved ~$444K in tax liability since 2006.
    
  hr
  
  .reference
    h2 Ms. Maria Cuellar
    p
      | CFO, LFD Furniture
    p
      | Contact: 956-584-4500
    p
      | Email: mcuellar@lfdfurniture.com
    p
      strong | Saved ~$1.172M in tax liability since 2006.
    
  hr
  
  .reference
    h2 Ms. Nora Torres
    p
      | Controller, Max’s Fine Furniture
    p
      | Contact: 956-968-0758
    p
      | Email: ntorres@maxfinefurniture.com
    p
      strong | Saved ~$229K in tax liability since 2011.
    
  hr
  
  .reference
    h2 Mr. Bart Blake
    p
      | Owner, Blake Furniture
    p
      | Contact: 903-663-2121
    p
      | Email: bart@blakefurniture.com
    p
      strong | Saved ~$301K in tax liability since 2010.
